# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/
/dist

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Hugo builds
/docs/public

# obsidian
/docs/content/.obsidian
/docs/content/.obsidian/*

# YoYo AI version control directory
.yoyo/

pnpm-lock.yaml
coverage/

/supabase/config.toml
/supabase/congig.toml.bck

/supabase/.env
/supabase/.env.local
